{% extends "main.html" %}

{% block title %}
  Page not found – {{ config.title }}
{% endblock %}

{% block header %}
  <h1>
    <code>404 Not Found</code>
  </h1>
{% endblock %}

{% block main %}
  <p>Did you swallow some Floo Powder to end up here?</p>
  <p>
    If you expected to find something else here, please get in touch or
    <a href="{{ config.extra.github }}/www.rafael.me.uk/issues" rel="noopener noreferrer" target="_blank">create a new issue</a>.
  </p>
{% endblock %}

{% block footer %}
  <nav>
    <a href="/">Index</a>
  </nav>
  {{ super() }}
{% endblock %}
