{% extends "page.html" %}

{% block stylesheets %}
  <link href="/reading.css" rel="stylesheet">
{% endblock %}

{% block data %}
  {% set reading_log = load_data(path="content/reading_log.toml") %}
{% endblock %}

{% block main %}
  {% for entry in reading_log.entries %}
    <h2>{{ entry.category }}</h2>
    {% for book in entry.books %}
      <div class="title-with-date">
        <cite>{{ book.title }}</cite>
        <div>
          {% if book.date_started %}
            {{ book.date_started }} –
          {% endif %}
          {{ book.date_finished }}
        </div>
      </div>
      <div>by {{ book.author }}</div>
      <div>
        {% if book.isbn %}
          ISBN: {{ book.isbn }}
        {% endif %}
      </div>
    {% endfor %}
  {% endfor %}
{% endblock %}
